*{
    padding: 0;
    margin: 0;
    
}
.mainDiv{
    max-width: 1000px;
    margin: auto;
}
/* First banner */
.fisrt-banner{
    border: 1px solid black;
    width: full;
    height: 400px;
    background-image: url('./resources/Banner\ Image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
   background-color: rgba(0,0,0,0.6);
   background-blend-mode: multiply;
   border-radius: 10px;
   justify-content: center;
   align-items: center;
}
.banner-Text{
    width: 50%;
    text-align: center;
    padding: 20px;
    line-height: 50px;
}
.heading{
    color: white;
}
.subHeading{
    font-size: 45px;
    color: white;
}

/* Second banner */
.off{
    font-size: 45px;
    color: #FF0000;
}
.holyDiv{
    text-align: center;
    margin-top: 20px;
    
}
.holyHead{
    margin: 20px 0;
    color: #FF0000;
}
.newYearImg{
    width: 50%;
    margin-top: 20px;
}

/* welcome div */
.welcomeDiv{
    border: 1px solid black;
    width: full;
    height: 400px;
    background-image: url('./resources/Vectorrr.png');
    margin-top: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
   align-items: center;
   /* opacity: 0.5; */
   background-color: rgba(0,0,0,0.6);
   background-blend-mode: multiply;
   margin-bottom: 20px;
   border-radius: 10px;
}
.leftDiv{
    width: 800px;
    color: white;
    padding: 50px;
    width: 2/3;
    
}
.wellcomePara{
    margin: 20px 0;
}
.joinBtn{
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}
.rightDiv{
    width:400px ;
    display: flex;
}
.YearPhoto{
height: 350px;
align-self: center;

}
/* Hotel place */
.TimeDate{
    height: 400px;
    background-color: rgba(255, 192, 203, 0.63);
    padding: 50px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.schedule{
    text-align: center;
    line-height: 40px;
}
.scheduleBtn{
    background-color: red;
    color: white;
    border: none;
    padding: 7px 12px;
    border-radius: 5px;
}

/* Coming soon */
.commingDiv{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
}
.left{
    width: 33%;
    
}
.leftTitle{
    margin: 10px 0;
}
.left-subTitle{
    color: red;
}
.middle{
    width: 33%;
    

}
.middleImg{
    width: 180px;
    height: 180px;
    justify-items: center;
    border: 5px solid red;
    border-radius: 50%;
    padding: 15px;
    
    

}
.right{
    width: 33%;
    display: flex;
    flex-direction: column;
}
.right img{
    width: 100px;
}
.rightPara{
    margin: 15px 0;
}
.rightYear{
    color: red;
    font-size: 35px;
}
/* Holiday sale */
.saleDescrip{
    width: 75%;
    margin: 0 auto;
    text-align: center;
    margin-top: 25px;
}
.saleTitle{
    font-size: 40px;
    margin: 15px 0;
}
.holiday{
    color: red;
    
}
/* Holiday image section */
.holidayImage{
    background-image: url('./resources/Rectangle\ 1.png');
    height: 400px;
    background-repeat: no-repeat;
    background-position: right;
    position: relative;
    margin-top: 20px;
    border-radius: 10px 10px 0 0 ;
}
.redDiv{
    height: 120px;
    background-color: red;
    border-radius: 0 0 10px 10px;
    margin-bottom: 20px;
    
}
.holidayImageChild{
    position: absolute;
    width: 180px;
    right: 330px;
    top: 100px;
    
}
.holidayImageChild1{
    width: 300px;
    position: absolute;
    bottom: -60px;
    left: 70px;
}
/* Best offer */
.bestDetails{
    width: 60%;
    margin: 0;
    margin-top: 40px;

}
.bestTitle{
    color: red;
}
.bestSubTitle{
    font-size: 40px;
    margin: 10px 0;
}
/* carts */
.carts{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}
.cartImg {
    width: 300px;
}
/* Subscribe */
.subscribe{
    height: 350px;
    background-color: antiquewhite;
    margin: 30px 0;
    padding: 20px 0;
    
}
.subDetails{
    width: 70%;
    text-align: center;
    padding: 40px;
    margin: auto;
}
.subDetails img{
    width: 80px;
    
}
.subTitle{
    font-size: 40px;
    margin: 10px 0;
}
.subInput{
    width: 90%;
    margin: auto;
    text-align: center;
}
.subInput input{
    padding: 8px;
    margin-right: 0;
    padding-right: 0;
    border-radius:20px 0 0 20px ;
    margin-right: -5px;
    border: 0;
}
.subInput button{
    padding: 8px 15px;
    text-align: center;
    border-radius: 0 50px 50px 0;
    background-color: red;
    color: white;
    border: none;
}
 /* Footer */
 .footer{
    height: 200px ;
    background-color: black;
    color: white;
    padding: 50px;
 }
 
 .footerHeading{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    line-height: 30px;
 }
 .icon{
    margin: 15px auto;
    text-align: center;
   
 }
 .icon img{
    margin: 0 auto; 
    width: 50px;
    margin-right: 15px;
 }
 .footerBottom{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    
 }
 hr{
    border:1px solid gray;
 }
